*{
  font-family: 'Roboto', sans-serif;
}

body{
  height: 100%;
	width: 100%;
	padding: 0;
	margin:0;
}

body::-webkit-scrollbar { 
    display: none; 
}

p:hover {
  cursor: default;
}
.app{
	position: fixed;
	width: 100%;
	height: 100%;
  background-color: #1F252A;
}

.sceneboard{
  width: 100%;
  height: 100%;
}

.appinner{
  display: flex;
  width: 100%;
  max-width: 100%;
    /* Firefox */
  height: -moz-calc(100% - 50px);
  /* WebKit */
  height: -webkit-calc(100% - 50px);
  /* Opera */
  height: -o-calc(100% - 50px);
  /* Standard */
  height: calc(100% - 50px);
}

.topnav{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #343D46;
  box-shadow: 0 1px 10px 5px rgba(0,0,0,0.1);
}

.boardnumholder{
  display: none;
}

.addnewboardbutton{
  font-size: 14px;
  border-radius: 10px;
  margin: 15px;
  color: #fff;
  padding: 15px;
  background-color: #2e8e6e;
  text-align: center;
}
.addnewboardbutton:hover{
  cursor: pointer;
  background-color: #3bc768;
  color: white;
}
.dropitem{
  padding: 15px;
  max-width: 200px;
  overflow: hidden;
  color: white;
}
.dropitem:hover{
  cursor: pointer;
  background-color: #296dce;
  color: white;
}

.boardmenu{
  color: white;
  display: flex;
  align-items: center;
  left: 0;
  max-width: 200px;
  position: relative;
  padding-left: 10px;
}

.boardstitle{
  top: 51px;
  left: 9px;
  background-color: #2a323a;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  color: #7d7d7d;
  font-size: 14px;
}

.boardholder{
  margin-top: 15px;
}

.leftboardsmenu{
  left: 0;
  top: 0;
  position: absolute;
  background-color: #2a323a;
  height: 100%;
  width: 0px;
  /*z-index: 2002;*/
  display: none;
  flex-direction: column;
  animation: scale-display .2s;
}

.boardsmenubackdrop{
  left: 0;
  top: 0;
  position: absolute;
  /*z-index: 2001;*/
  height: 100%;
  width: 100%;
  display: none;
  background-color: #0000007d;
  animation: bd-display .1s;
}

@keyframes scale-display {
  0% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
  }

  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}
@keyframes bd-display {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.boardsmenutop{
  width: 100%;
  height: 50px;
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid grey;
  color: grey;
}

.boardname{
  color: white;
  border: none;
  font-size: 14px;  
  border-radius: 3px;
  background: transparent;
}
.boardname:hover{
  cursor: pointer;
}

#p-l-i{
  /*background-color: #343d46;*/
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2010;
  position: absolute;
  /* top: 15%; */
  /*color: #2196F3;*/
  text-align: center;
  /* left: 25%; */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

}
.appname{
  color: #6f6f6f;
  font-size: .8em;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  padding:10px;
}
.maincontent{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  z-index: 2010;
  position: absolute;
  width: 100%;
  height: 100%;
}
.topline{
  width: 15%;
  border-top: 5px solid #3889d6;
}
.maintext{
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innertext{
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heropic{
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: -40px;
}
.heroimg{
  height: 380px;
  position: absolute;
  right: 0;
  bottom: -30px;
  z-index: 2000;
}
.ctabtn{
  background-color: #38a88c;
  color: white;
  outline: none;
  border: none;
  padding: 14px 54px;
  font-size: 16px;
  cursor: pointer;
}
.ctainner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contactus{
  position: absolute;
  bottom: 0;
  left: 50%;
}

h2{
  font-size: 2.5em;
  line-height: 1.2;
  color: #E4745D;
}

h5{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  color: white;
}
#pricing{
  color: #41BA8E;
  border-bottom: 1px solid #41BA8E;
  width: 50px;
  height: 20px;
  padding-bottom: 2px;
  cursor: pointer;
  margin-left: 25px;
}
#pricing-hidden{
  color: #2196f3;
  width: 0px;
  height: 100px;
  overflow: hidden;
  position: relative;
  top: -78px;
  left: 45%;

}
.donatebutton{
  width: 150px;
  padding: 10px;
  font-size: 14px;
  color: white;
  background-color: #367ffa;
  border: none;
  text-decoration: none;
  outline: none;
}
.donatebutton:hover{
  box-shadow: 0px 7px 12px 0px rgba(35, 35, 35, 0.83);
}
.notification{
  height: 50px;
  display: flex;
  align-items: center;
}
.notificationIcon{
  fill: grey;
}
#notificationOn-icon{
  display: none;
}
.logo{
  left: 50%;
  font-weight: 700;
  color: #ffffff3b;
  position: absolute;
}

.usermenu{
  right: 0;
  display: flex;
  align-items: center;
  position: absolute;
}

.usericon{
  font-size: 14px;
  color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.iconimg{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 15px;
  display: none;
}

.nav-button{
  display: none;
	position: fixed;
	left: 10px;
	top: 20px;
	z-index: 3;
	width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.boardMenuItem{
  font-size: 20px;
  padding-left: 10px;
  font-weight: 800;
  color: #cecece;
  text-decoration: none;
  background: none;
  border: none;
  outline:none;
}
.boardMenuItem:hover{
  cursor: pointer;
}

.cardmenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6b6b6b;
  font-size: 12px;
  margin-bottom: 2px;
}

.cardmenuitem{
  font-size: 20px;
  font-weight: 800;
  color: #cecece;
  padding-right: 0px;
  text-decoration: none;
  background: none;
  border: none;
  outline:none;
}
.cardmenuitem:hover{
  cursor: pointer;
}
.menusizebutton{
  font-size: 20px;
  font-weight: 800;
  color: #cecece;
  padding-right: 0px;
  text-decoration: none;
  background: none;
  border: none;
  outline:none;
}
.menusizebutton:hover{
  color: #a2a1a1;
}
.menusizebutton:active{
  color: #5d5c5c;
}

.nav-button.open{
	left: 310px;
}
.nav-button.open span{
  background: #ccc;
}

.nav-button span{
	display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

.nav-button  span:nth-child(1) {
  top: 0px;
}

.nav-button  span:nth-child(2),.nav-button  span:nth-child(3) {
  top: 8px;
}

.nav-button  span:nth-child(4) {
  top: 16px;
}

.nav-button.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-button.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.navigator{
  width: 350px;
  flex-shrink: 0;
	box-shadow: 0px 2px 5px #ccc;
	background-color: white;
	z-index: 1;
  transition: width .3s ease-in-out;
  overflow: hidden;
}

.navigator.closed{
  width: 0;
}

.navigator-content{
  padding-top: 0px;
  width: 350px;
  height: 100%;
  overflow-y: auto;
}

.navigator-header h3{
  padding-left: 10px;
}

.divider{
  height: 1px;
  border-bottom: 1px solid #ddd;
  margin-top: -2px;
}

.menu-section h4{
  color: #444;
  padding-left: 10px;
}

.menu-section ul{
  color: #666;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-section li{
  font-size: 14px;
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 5px;
}

.menu-section li:hover{
  background-color: ghostwhite;
}

.menu-section li.selected{
  background-color: ghostwhite;  
}

.content{
  display: flex;
  flex-direction: column;
	flex: 1 1 auto;
	background-color: #f8f9fa;
  min-width: 0;
}

.demo {
  flex: 1;
  overflow: auto;
  min-width: 0;
}

.header{
	height: 60px;
	background-color: #41b883;
	box-shadow: 2px 0px 4px #ccc;
	z-index: 0;
	color: white;
	font-size: 20px;
	padding: 0 50px;
	vertical-align: middle;
	line-height: 60px;
}

.header.open{
	padding: 0 20px;
}

.hamicon{
  cursor: default;
  display: flex;
  align-items: center;
}

.demo-panel{
  flex:1;
  overflow-x: auto;
  background-color: #f8f9fa;
}

.nav-panel{
  flex-shrink: 0;
  width: 300px;
}

.demo-navigator{
  list-style: none;
  box-sizing: border-box;
  position: fixed;
  width: 300px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0;
  box-shadow: 1px 0px 5px #ccc;
  z-index: 1;  
}

.demo-navigator li{
  height: 50px;
  display: block;
}

.demo-header {
  height: 50px;
  background-color: #eee;
}

.source-code{  
  float: right;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  cursor: pointer;
}

.source-code img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.source-code span{
  font-size: 14px;
  color: #eee;
  margin-left: 10px;
  vertical-align: middle;
}

.demo-navigator button {
  border: 1px solid #348;
  text-align: center;
  height: 100%;
  width : 100%;
  display: block;
  background-color: rgb(64, 105, 182);
  cursor: pointer;
  outline: 0;
  color: white;
  border-top: 1px solid rgb(116, 137, 223);
  border-bottom: 1px solid rgb(43, 76, 185);
  transition: all .2s ease;
  font-size: 16px;
}

.demo-navigator button:hover {
  background-color: rgb(47, 94, 182);
}


.simple-page{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.simple-page-scroller{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow-y: auto;
  height: 80vh;
}

.draggable-item{
  height: 50px;
  line-height: 50px;
  text-align: center;
  width : 100%;
  display: block;
  background-color: #fff;
  outline: 0;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 2px;
  margin-top: 2px;
}

.draggable-item-horizontal{
  height: 300px;
  padding: 10px;
  line-height: 100px;
  text-align: center;
  /* width : 200px; */
  display: block;
  background-color: #fff;
  outline: 0;
  border: 1px solid rgba(0,0,0,.125);
  margin-right: 4px;
}

.form-demo{
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex
}

.form{
  flex: 3;
  /* width: 500px; */
  /* background-color: #f3f3f3; */
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.08), 0px 3px 3px rgba(0,0,0,0.08);
}

.form-fields-panel{
  flex: 1;
  margin-right: 50px;
}

.form-field{
  height: 50px;
  width: 250px;
  line-height: 30px;
  vertical-align: middle;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  /* background-color: #eee; */
  cursor: move;
  
}

.form-line {
  padding: 20px 30px;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all .3s ease;
  transition-property: border-color, background-color;
  cursor: move;
}

.form-line.selected {
  /* border: 1px solid #ddd; */
  background-color: #f8f9fa;
  /* box-shadow: 0px 0px 10px 10px #ccc; */
}

.form-ghost{
  transition: 0.18s ease;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.08);
}

.form-ghost-drop{
  box-shadow: 0 0 2px 5px rgba(0,0,0,0.0);
}

.form-submit-button{
  border: 0;
  width: 100%;
  vertical-align: middle;
  height: 40px;
  color: #eee;
  background-color: cornflowerblue;
  cursor: pointer;
}

.label {
  margin-bottom: 5px; 
}

.field {
  cursor: auto;
}

.field input, .field textarea, .field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  transition: border-color .3s ease;
}

.field input[type="radio"], .field input[type="checkbox"] {
  width: auto;
}

.field input:focus, textarea:focus {
  border: 1px solid #80bdff;
  box-shadow: 0 0 3px 0px #80bdff;
}

.field-group input, .field-group textarea, .field-group select{
  width: 49%;
  margin-right: 2%;
}

.columntitle{
  width: 100%;
  font-weight: 500;
  color: #E4745D;
  background: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  margin-left: 10px;
}
.columntitle:focus{
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #80bdff;
}
.columntitle:hover{
  cursor: default;
}
.cardinput{
  background: transparent;
  font-weight: 600;
  color: #41BA8E;
  width: 100%;
  border: none;
  font-size: 14px;  
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.cardinput:hover{
  cursor: default;
}
.cardinput:focus{
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #80bdff;
}
.cardinputbig{
  background: transparent;
  font-weight: 600;
  color: #41BA8E;
  width: 100%;
  border: none;
  font-size: 18px;  
  border-radius: 3px;
}
.cardinputbig:hover{
  cursor: default;
}
.cardinputbig:focus{
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #80bdff;
}
.carddescription{
  background: transparent;
  color: #b2b2b3;
  font-size: 12px;
  border: none;
  width: 100%;
  resize: none;
}
.carddescription:hover{
  cursor: default;
}
.carddescription:focus{
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #80bdff;
}
.carddescription::-webkit-scrollbar { 
    display: none; 
}
.carddescriptionbig{
  background: transparent;
  color: #d1d1d2;
  font-size: 12px;
  border: none;
  width: 100%;
  min-height: 300px;
  height: 100%;
  resize: none;
}
.carddescriptionbig:hover{
  cursor: default;
}
.carddescriptionbig:focus{
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #80bdff;
}

.checkboxarea{
  max-height: 200px;
}
.checkcolumns{
  margin-left: 25px;
  max-height: 160px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkboxbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.cbabar{
  width: 90%;
  height: 5px;
  border-radius: 5px;
  margin: 10px;
  background-color: #dadada;
}
.cbabarprogress{
  background-color: #409eff;
  max-width: 100%;
  width: 0px;
  height: 100%;
  border-radius: 5px;
  transition: 0.2s;
  z-index: +1;
}
.cbapercentage{
  width: 10%;
  display: flex;
}
.cbaitemholder{
  display: flex;
  align-items: center;
  /*max-width: 50%;*/
  overflow: auto;
}
.cbadelete{
  color: #bbbbbb;
  margin-right: 10px;
  width: 90px;
}
.cbadelete:hover{
  cursor: pointer;
  color: red;
  transition: 0.2s;
}
.cbaitemdelete{
  margin-left: 20px;
}
.cbaitemdelete:hover{
  cursor: pointer;
  color: red;
  transition: 0.2s;
}

.checkboxdisplay{
  margin-left: 10px;
}

.checkboxlist{
}

.checkboxinput{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background: transparent;
}
.checkboxinput:hover{
  cursor: pointer;
  color: #80bdff;
  transition: 0.2s;
}
.checkboxinput:focus{
  cursor: default;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #80bdff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  transition: 0.2s;
}

.usernameinput{
  font-weight: 600;
  color: #565656;
  width: 100%;
  border: none;
  font-size: 14px;  
  border-radius: 3px;
}
input:last-child{
  margin-right: 0;
}

.dragging {
  background-color: yellow;
}

.card-scene{
  display: flex;
  width: 100%;
  /* background-color: #fff; */
}

.card-container{
  display: inline-block;
  border-radius: 5px;
  width: 320px;
  height: 100%;
  min-height: 100px;
  padding: 10px;
  margin: 5px;
  /*
  background-color: #f3f3f3;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  */
}

.smooth-dnd-container.vertical{
  max-height: 93%;
  overflow: auto;
}
.smooth-dnd-container.vertical::-webkit-scrollbar { 
    display: none; 
}
.smooth-dnd-container.horizontal::-webkit-scrollbar { 
    display: none; 
}



.smooth-dnd-container.horizontal{
  padding: 15px;
  max-width: 93%;
  overflow: auto;
}

.menutitle{
  width: 100%;
  height: 5%;
  padding-top: 5px;
  margin-left: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px;
  font-weight: 600;
  color: #565656;
}
.menuoptions{
  margin-left: 15px;
  height: 5%;
  color: grey;
  display: flex;
  justify-content: left;
  align-items: center; 
}

.menuactivity{
  height: 100%;
  margin:15px;
  margin-top: 25px;
  border-radius: 0px;
  border-top: 1px solid #e0e0e0;
}
.activitytitle{
  top: -15px;
  left: 15px;
  width: 65px;
  padding: 5px;
  /* left: 45px; */
  color: #ababab;
  font-size: 14px;
  background: #2a323a;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  position: relative;
}
.logout{
  cursor: pointer;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 10px;
  color: white;
  border-bottom: 1px solid #a5a5a5;
}
.taskitem{
  color: white;
  padding: 10px;
  font-size: 14px;
}
.taskholder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskitemboard{
  color: #03A9F4;
  font-size: 12px;
}

.menuchat{
  height: 75%;
  margin:15px;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.chattitle{
    top: -15px;
    left: 15px;
    width: 30px;
    padding: 5px;
    /* left: 45px; */
    color: #ababab;
    font-size: 14px;
    background: #2a323a;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    position: relative;
}
.chatcontent{
  height: 85%;
}
.chatinput{
  width: 90%;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  border: none;
  border-top: 1px solid #e0e0e0;
  background-color: transparent;
  transition: 0.4s;
}
.chatinput:focus{
  border-top: 1px solid #80bdff;
  outline: none;
}

.rightMenu{
  background-color: #41BA8E;
  position: absolute;
  right:15px;
  bottom:15px;
  text-align: center;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  box-shadow: 0px 2px 8px 0px rgba(68, 68, 68, 0.6);
}
.rightMenu:active{
   box-shadow: none;
}

.rightNav{
  z-index: 2002;
  overflow: auto;
  right:0;
  position: absolute;
  background-color: #2a323a;
  height: 80%;
  width: 0px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}
.rightNav::-webkit-scrollbar { 
    display: none; 
}
.card{
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
  max-height: 120px;
  display: flex;
  /*transition: 0.2s;*/
  /* border: 1px solid #ccc; */
  background-color: #343D46;
  /* box-shadow: 0 1px 1px rgba(0,0,0,0), 0 1px 1px rgba(0,0,0,0.24); */
  
}
.card:hover{
 /* transition: 0.5s;*/
  /*box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);*/
  box-shadow: 0px 0px 6px 1px rgba(111,206,235,0.6);
}
.cardlabel{
  background: transparent;
  width: 3px;
  height: 75px;
  /*transition: 0.2s;*/
}
.cardlabelholder{
  display: flex;
  align-items: center;
}
.cardinner{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.card-column-header{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.titlemenubutton{
  color: #737373;
  margin-right: 5px;
}
#titlemenu-button{
  display: none;
}
.column-drag-handle{
  cursor: move;
  padding: 5px; 
  color: #b7bbb7;
  display: inline-block;
}

.card-ghost {
  transition: transform 0.3s ease;
  transform: rotateZ(5deg);
  box-shadow: 0 9px 19px rgba(0,0,0,0.24);
}

.card-ghost-drop{
  transition: transform 0.1s ease-in-out;
  transform: rotateZ(0deg)
}

.opacity-ghost {
  transition: all .1s ease;
  opacity: 0.8;
  /* transform: rotateZ(5deg); */
  background-color: cornflowerblue;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
}

.opacity-ghost-drop {
  opacity: 1;
  /* transform: rotateZ(0deg); */
  background-color: white;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.0);
}

.addCardButton {
  text-align: left;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  color: #6b6b6b;
}
.addCardButton:hover{
  box-shadow: 0px 1.5px 0px 0px rgba(0,0,0,0.1);
}
.addColumnButton {
  height: 45px;
  width: 45px;
  top: 90px;
  position: relative;
  margin: 13px;
  border-radius: 5px;
  background: #343D46;
  outline: none;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}
.addColumnButton:active {
  box-shadow: none;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.colnumStore{
  display: none;
}
.cardnumStore{
  display: none;
}
.dialogimported{
  border-radius: 10px;
  background-color: #343D46;
  background: #343D46;

}
.el-dialog{
  border-radius: 10px;
  background-color: #343D46;
  background: #343D46;
}

.dialogimported__body{
  padding-top: 0;
  padding-bottom: 0;
  color: #d1d1d2;
}

.dialogimported__header{
  padding:0;
  padding-bottom: 10px;
}

.dialogimported__headerbtn{
  display: none;
}
.el-icon-check{
  border: 1px solid;
}
.g-signin-button {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #3c82f7;
  color: #fff;
  box-shadow: 0 3px 0 #0f69ff;
}
.g-signin-button:hover {
  cursor: pointer;
}
#gbutton {
  z-index: 2012;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  border:1px solid white;
  padding: 10px 24px;
  background-color: transparent;
  color: #fff;
}
#gbutton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .rightNav{
    max-width: 100%;
  }
  .addColumnButton{
    width:25px;
  }
  .navigator {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .maintext{
  width: 100%;
  }

  .heropic{
    width:0;
  }
  
  .nav-button {
    display: block;
  }

  .logo{
    display: none;
  }
  .smooth-dnd-container.horizontal{
    padding: 5px;
  }
  .dialogimported{
    width:90%;
  }
  /* --- ***************************************** --- */
  /* --- full screen in mobile (minimize address bar) --- */
  /* --- ***************************************** --- */
  /*.app {
      height: auto !important;
      width: auto !important;
  }*/
}
